section#states .grid-states{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     margin: 0em;
     grid-gap: 0em;
     min-height: 120vw;
    }


    .state-instructions-box {
        grid-column: 3 / span 4;
        grid-row: 3 / span 2;
    }

    .flex-box {
        display: flex;
        justify-content: center; 
        background-color: rgb(70, 95, 54);
      
          h2 {
              display: flex;
              justify-content: center;
              align-self: center
          }
      
      }
      
    // .grid-states .grid-box {
    //   display:grid;
    //   grid-template-rows: 1fr 1fr 1fr;
    //   background-color: rgb(187, 106, 169);
    //   }

    .s2-a-title{ 
        grid-column: 3 / span 4;
        grid-row: 1 / span 2;
    }
    .s2-b-images{ 
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }
    .s2-c-states-text{ 
        grid-column: 2 / span 3;
        grid-row: 1 / span 3;
    }

    
.alabama{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.alaska{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}
.arizona{
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
}
.arkansas{
    grid-column: 4 / span 1;
    grid-row: 6 / span 1;
}
.california{
    grid-column: 5 / span 1;
    grid-row: 7 / span 1;
}
.colorado{
    grid-column: 6 / span 1;
    grid-row: 8 / span 1;
}
.connecticut{
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
.delaware{
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}
.districtofcolombia{
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
}
.florida{
    grid-column: 4 / span 1;
    grid-row: 7 / span 1;
}
.georgia{
    grid-column: 5 / span 1;
    grid-row: 8 / span 1;
}
.hawaii{
    grid-column: 6 / span 1;
    grid-row: 9 / span 1;
}
.idaho{
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}
.illinois{
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
}
.indiana{
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
}
.iowa{
    grid-column: 4 / span 1;
    grid-row: 8 / span 1;
}
.kansas{
    grid-column: 5 / span 1;
    grid-row: 9 / span 1;
}
.kentucky{
    grid-column: 6 / span 1;
    grid-row: 10 / span 1;
}
.louisiana{
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
}
.maine{
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
}
.maryland{
    grid-column: 3 / span 1;
    grid-row: 8 / span 1;
}
.massachusetts{
    grid-column: 4 / span 1;
    grid-row: 9 / span 1;
}
.michigan{
    grid-column: 5 / span 1;
    grid-row: 10 / span 1;
}
.minnesota{
    grid-column: 6 / span 1;
    grid-row: 11 / span 1;
}
// .mississippi{}
// .missouri{}
// .montana{}
// .nebraska{}
// .nevada{}
// .newhampshire{}
// .newjersey{}
// .newmexico{}
// .newyork{}
// .northcarolina{}
// .northdakota{}
// .ohio{}
// .oklahoma{}
// .oregon{}
// .pennsylvania{}
// .puertorico{}
// .rhodeisland{}
// .southcarolina{}
// .southdakota{}
// .tennessee{}
// .texas{}
// .utah{}
// .vermont{}
// .virginia {}
// .washington {}
// .westvirginia {}
// .wisconson {}
// .wyoming {}

    // @media screen and (min-width: 500px) {
    //     .grid-states{
    //       grid-template-columns: 1fr; 
    //   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    //     }
    //   .s2-a-title{     
    //   grid-column: 1/ span 1;
    //       grid-row: 1/ span 1;
    //   }
    // //   .s2-b-images{ 
    // //       display: none
    // //   }
    //   .s2-c-states-text{ 
    //       grid-column: 1/ span 1;
    //       grid-row: 2/ span 7;
    //   }
    //   }
    //   @media screen and (min-width: 800px) {
    //     .grid-states{
    //       grid-template-columns: 1fr 1fr 1fr;
    //   grid-template-rows: 1fr 3fr;
    //     }
    //   }
      