.test {
  color: #216278;
}
section#home .grid-home {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  display: grid;
  margin: 1em;
  grid-gap: 0em;
  min-height: 100vh;
}
.flex-box1 {
  display: flex;
  justify-content: center;
}
.flex-box1 h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.flex-box2 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: none;
  align-items: center;
}
.flex-box2 h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
@media (max-width: 600px) {
  .flex-box2 p {
    padding-left: 0.5em;
    text-align: left;
    font-size: 4vw;
    color: #000000;
    margin-bottom: none;
  }
}
@media (min-width: 601px) {
  .flex-box2 p {
    padding-left: 0.5em;
    text-align: left;
    font-size: 2vw;
    color: #000000;
    margin-bottom: none;
  }
}
.flex-box2 img {
  padding-left: 2em;
}
.flex-box3 {
  display: flex;
  justify-content: center;
  margin-bottom: none;
  align-self: flex-start;
  align-items: center;
}
.flex-box3 h2 {
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
@media (max-width: 600px) {
  .flex-box3 p {
    padding-left: 0em;
    text-align: left;
    font-size: 4vw;
    color: #000000;
    margin-bottom: none;
  }
}
@media (min-width: 600px) {
  .flex-box3 p {
    padding-left: 0em;
    text-align: left;
    font-size: 2vw;
    color: #000000;
    margin-bottom: none;
  }
}
.flex-box3 img {
  padding-right: 2em;
}
.grid-home .grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.s1-a-title {
  grid-column: auto / span 2;
  grid-row: 1 / span 1;
}
@media (max-width: 600px) {
  .s1-a-title h2 {
    color: #000000;
    font-size: 8vw;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (min-width: 601px) {
  .s1-a-title h2 {
    color: #000000;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.s1-b-text {
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
}
.s1-b-text .leftAlign1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.s1-b-text .leftAlign2 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.s1-b-text .rightAlign1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.s1-b-text .rightAlign2 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
section#states .grid-states {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0em;
  grid-gap: 0em;
  min-height: 160vw;
  align-items: flex-end;
}
.state-instructions-box {
  grid-column: 3 / span 4;
  grid-row: 3 / span 2;
  align-self: center;
}
.flex-box-states {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-box-states h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 8vw;
}
.s2-a-title {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}
.s2-b-images {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}
.s2-c-states-text {
  grid-column: 2 / span 3;
  grid-row: 1 / span 3;
}
.alabama {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.alaska {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.arizona {
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}
.arkansas {
  grid-column: 4 / span 1;
  grid-row: 6 / span 1;
}
.california {
  grid-column: 5 / span 1;
  grid-row: 7 / span 1;
}
.colorado {
  grid-column: 6 / span 1;
  grid-row: 8 / span 1;
}
.connecticut {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}
.delaware {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}
.dc {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
}
.florida {
  grid-column: 4 / span 1;
  grid-row: 7 / span 1;
}
.georgia {
  grid-column: 5 / span 1;
  grid-row: 8 / span 1;
}
.hawaii {
  grid-column: 6 / span 1;
  grid-row: 9 / span 1;
}
.idaho {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}
.illinois {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}
.indiana {
  grid-column: 3 / span 1;
  grid-row: 7 / span 1;
}
.iowa {
  grid-column: 4 / span 1;
  grid-row: 8 / span 1;
}
.kansas {
  grid-column: 5 / span 1;
  grid-row: 9 / span 1;
}
.kentucky {
  grid-column: 6 / span 1;
  grid-row: 10 / span 1;
}
.louisiana {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}
.maine {
  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
}
.maryland {
  grid-column: 3 / span 1;
  grid-row: 8 / span 1;
}
.massachusetts {
  grid-column: 4 / span 1;
  grid-row: 9 / span 1;
}
.michigan {
  grid-column: 5 / span 1;
  grid-row: 10 / span 1;
}
.minnesota {
  grid-column: 6 / span 1;
  grid-row: 11 / span 1;
}
.mississippi {
  grid-column: 1 / span 1;
  grid-row: 7 / span 1;
}
.missouri {
  grid-column: 2 / span 1;
  grid-row: 8 / span 1;
}
.montana {
  grid-column: 3 / span 1;
  grid-row: 9 / span 1;
}
.nebraska {
  grid-column: 4 / span 1;
  grid-row: 10 / span 1;
}
.nevada {
  grid-column: 5 / span 1;
  grid-row: 11 / span 1;
}
.newhampshire {
  grid-column: 6 / span 1;
  grid-row: 12 / span 1;
}
.newjersey {
  grid-column: 1 / span 1;
  grid-row: 8 / span 1;
}
.newmexico {
  grid-column: 2 / span 1;
  grid-row: 9 / span 1;
}
.newyork {
  grid-column: 3 / span 1;
  grid-row: 10 / span 1;
}
.northcarolina {
  grid-column: 4 / span 1;
  grid-row: 11 / span 1;
}
.northdakota {
  grid-column: 5 / span 1;
  grid-row: 12 / span 1;
}
.ohio {
  grid-column: 6 / span 1;
  grid-row: 13 / span 1;
}
.oklahoma {
  grid-column: 1 / span 1;
  grid-row: 9 / span 1;
}
.oregon {
  grid-column: 2 / span 1;
  grid-row: 10 / span 1;
}
.pennsylvania {
  grid-column: 3 / span 1;
  grid-row: 11 / span 1;
}
.puertorico {
  grid-column: 4 / span 1;
  grid-row: 12 / span 1;
}
.rhodeisland {
  grid-column: 5 / span 1;
  grid-row: 13 / span 1;
}
.southcarolina {
  grid-column: 6 / span 1;
  grid-row: 14 / span 1;
}
.southdakota {
  grid-column: 1 / span 1;
  grid-row: 10 / span 1;
}
.tennessee {
  grid-column: 2 / span 1;
  grid-row: 11 / span 1;
}
.texas {
  grid-column: 3 / span 1;
  grid-row: 12 / span 1;
}
.utah {
  grid-column: 4 / span 1;
  grid-row: 13 / span 1;
}
.vermont {
  grid-column: 5 / span 1;
  grid-row: 14 / span 1;
}
.virginia {
  grid-column: 6 / span 1;
  grid-row: 15 / span 1;
}
.washington {
  grid-column: 1 / span 1;
  grid-row: 11 / span 1;
}
.westvirginia {
  grid-column: 2 / span 1;
  grid-row: 12 / span 1;
}
.wisconson {
  grid-column: 3 / span 1;
  grid-row: 13 / span 1;
}
.wyoming {
  grid-column: 4 / span 1;
  grid-row: 14 / span 1;
}
section#years .grid-years {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0em;
  grid-gap: 0em;
  min-width: 100vw;
  align-items: flex-start;
}
.year-instructions-box {
  grid-column: 3 / span 4;
  grid-row: 3 / span 2;
  align-self: center;
  justify-content: center;
  margin-left: 6vw;
}
.year-selector {
  grid-column: 2 / span 4;
  grid-row: 5 / span 2;
  align-content: flex-end;
  margin-top: 2vw;
}
.flex-box-year {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-box-year h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 8vw;
}
@media (max-width: 600px) {
  .flex-box-year p {
    padding-left: 0em;
    text-align: left;
    font-size: 4vw;
    color: #000000;
    margin-bottom: none;
    margin-left: 2vw;
  }
}
@media (min-width: 600px) {
  .flex-box-year p {
    padding-left: 0em;
    text-align: left;
    font-size: 2vw;
    color: #000000;
    margin-bottom: none;
    margin-left: 2vw;
  }
}
.s3-a-title {
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}
.s3-b-backlink {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  align-self: flex-start;
  justify-content: flex-start;
  margin-top: 2vw;
  margin-left: 2vw;
}
.s3-c-years-text {
  grid-column: 1 / span 6;
  grid-row: 10 / span auto;
  margin: 0vw;
  padding: 0em;
}
@media (max-width: 600px) {
  .s3-d-instruction {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
    margin-right: 2vw;
  }
}
@media (min-width: 601px) {
  .s3-d-instruction {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
  }
}
section#team .grid-team-individual {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 1em;
  grid-gap: 1em;
}
.s3-s1-a-team-member {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.s3-s1-b-team-member-description {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}
.s3-s1-c-team-interests {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
.s3-s1-d-interest-box {
  display: flex;
  justify-content: center;
}
section#fieldwork .grid-fieldwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  margin: 1em;
  grid-gap: 1em;
}
.fieldwork-box1 {
  display: flex;
  justify-content: start;
  background-color: #36AE83;
}
.fieldwork-box2 {
  display: flex;
  justify-content: start;
  background-color: #0CB906;
}
.fieldwork-box3 {
  display: flex;
  justify-content: start;
  background-color: #E88015;
}
.s4-a-title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.s4-b-phases {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
section#technology .grid-technology {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  margin: 1em;
  grid-gap: 1em;
}
.fieldwork-box1 {
  display: flex;
  justify-content: start;
  background-color: #36AE83;
}
.fieldwork-box2 {
  display: flex;
  justify-content: start;
  background-color: #0CB906;
}
.fieldwork-box3 {
  display: flex;
  justify-content: start;
  background-color: #E88015;
}
.s5-a-title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}
.s5-b-tech-types {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
section#grants .grid-grants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.s6-a-articles {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.s6-b-ribbon {
  grid-column: 5 / span 2;
  grid-row: 1 / span 4;
}
section#articles .grid-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.article-box {
  display: flex;
  justify-content: start;
}
.s7-a-articles {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.s7-b-title {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}
section#news .grid-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
}
.s8-a-articles {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.s8-b-title {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}
section#contact .grid-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 1em;
  grid-gap: 1em;
  min-height: 50vw;
}
.flex-box {
  display: flex;
  justify-content: center;
  background-color: #365f5d;
}
.flex-box h2 {
  display: flex;
  justify-content: center;
  align-self: center;
}
.grid-contact .grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #bb6aa9;
  grid-gap: 1em;
}
.grid-contact .grid-box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #bb6aa9;
  grid-gap: 1em;
  padding: 2em;
}
.s9-a-header {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
.s9-b-footer {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}
.s9-c-header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.s9-d-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #4fa39f;
}
.s9-d-info p {
  margin-bottom: 0;
}
